<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
  <test name="firefoxtest">
  <parameter name="myBrowser" value="firefox"/>
  <parameter name="myBrowser1" value="chrome"/>
    <classes>
      <class name="parallel.Actitime"/>
    </classes>
  </test> <!-- Test -->
  
  
  
  <!-- <test name="chromeTest">
  <parameter name="myBrowser" value="chrome"/>
    <classes>
      <class name="parallel.Actitime"/>
    </classes>
  </test> --> <!-- Test -->
  
</suite> <!-- Suite -->
